name: Service Router

on:
  repository_dispatch:
    types: [service-update]

jobs:

  # -------------------------------------------------------
  # Select Build
  # -------------------------------------------------------
  select-build:
    runs-on: ubuntu-latest
    outputs:
      service: ${{ github.event.client_payload.service }}
      service_type: ${{ github.event.client_payload.service_type }}
      branch: ${{ github.event.client_payload.branch }}
      environment: ${{ github.event.client_payload.environment }}

    steps:
      - run: |
          echo "Service: ${{ github.event.client_payload.service }}"
          echo "Service Type: ${{ github.event.client_payload.service_type }}"
          echo "Branch: ${{ github.event.client_payload.branch }}"
          echo "Environment: ${{ github.event.client_payload.environment }}"

  # -------------------------------------------------------
  # Java Build Pipeline
  # -------------------------------------------------------
  java-build:
    needs: select-build
    if: needs.select-build.outputs.service_type == 'java'
    uses: syntaxnow-labs/workflow-platform/.github/workflows/quality-check-java.yml@main
    with:
      service: ${{ needs.select-build.outputs.service }}
      branch: ${{ needs.select-build.outputs.branch }}
      java_version: "17"
    secrets:
      GITOPS_TOKEN: ${{ secrets.GITOPS_TOKEN }}

  # -------------------------------------------------------
  # Node Build Pipeline
  # -------------------------------------------------------
  node-build:
    needs: select-build
    if: needs.select-build.outputs.service_type == 'node'
    uses: syntaxnow-labs/workflow-platform/.github/workflows/quality-check-node.yml@main
    with:
      service: ${{ needs.select-build.outputs.service }}
      branch: ${{ needs.select-build.outputs.branch }}
    secrets:
      GITOPS_TOKEN: ${{ secrets.GITOPS_TOKEN }}

  # -------------------------------------------------------
  # Deployment (GitOps)
  # -------------------------------------------------------
  deploy:
    needs:
      - select-build
      - java-build
      - node-build
    if: always()
    uses: syntaxnow-labs/workflow-platform/.github/workflows/deploy-gitops.yml@main

    with:
      app_name: ${{ needs.select-build.outputs.service }}
      branch: ${{ needs.select-build.outputs.branch }}
      environment: ${{ needs.select-build.outputs.environment }}
      gitops_repo: "syntaxnow-labs/gitops"

    secrets:
      GHCR_TOKEN: ${{ secrets.GHCR_TOKEN }}
      GITOPS_TOKEN: ${{ secrets.GITOPS_TOKEN }}
